*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Oswald', sans-serif;
}

/* Header */

.header {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(93,92,97,0.95),rgba(93,92,97,0.99)),url(Bilder/Blaise.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: #b1a296 4.5px solid;
   
}

/* Home: Navigation */

nav {
    display: block;
    padding: 4% 10%;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    border-bottom: 4.5px solid #b1a296;
    height: 70px; 


}
.nav-links {
    
    text-align: right;
    position: relative;
    right: 10px; 
   
   
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    margin: 10px;
    position: relative;


}
.nav-links ul li a{
    color: #557a95;
    text-decoration: none;
    font-size: 60px;
    font-weight: 500;
   
}
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 4.5px;
    background: #b1a296;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* Home Text */

.text-box {
    width: 90%;
    color: white;
    position: sticky;
    top: 500px;
    text-align: center;
}
/* Home: Welcome Title */

#welcome {
    color: #b1a296;
    
}
.welcomemain {
    display: flex;
    justify-content: space-between;

}


.hblue {
    font-weight: 900;
    font-size: 80px;
    color: #557a95;
}
.pblue {
    font-weight: 100;
    color: #b1a296;
    font-size: 30px;
    width: 500px;
    margin: 50px;
    margin-top: 600px;

}
.pred {
    font-weight: 100;
    color: #b1a296;
    font-size: 30px;
    width: 500px;
    margin: 50px;
    margin-top: 600px;
 

}
.btn {
    display: inline-block;
    text-decoration: none;
    color: #b1a296;
    border: 4.5px solid #b1a296;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.btn:hover{
    border: 1px solid #557a95;
    background: #557a95;
    transition: 0.5s;
    
}

nav .fa-bars {
    display: none;
}

nav .fa-times {
    display: none;
}
/* Portfolio */

#portfolio {
    background-color: #557a95;
    height: 278px;
}

h2 {
    text-align: left;
    font-size: 120px;
    color: #b1a296;
    padding: 100px;

}
.project-card {
    padding:  3rem;
    border: .3em solid #0a0a0a;
    margin: -3px;
    display: block;
}
.project-card img {
    display: grid;
    grid-template-columns:max-content
}

.projects {
    margin-bottom: -1em;
    box-shadow: 8px 8px #0a0a0a;
    border: .3em solid #0a0a0a;
    height: 20.5rem;
    width: auto;
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}
.projectinfo {
    height: 200px;
    margin-top: 40px;
    color: #b1a296;
    width: 300px;

}


/* Home: main section  */

.main {
    background-color:#5d5c61;
    border-top: 4.5px solid #b1a296;
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}

.project-card {
    box-sizing: border-box;
    display: block;
    float: none;
    height: normal;
    position: static;
    z-index: auto;
    z-index: auto;
    border: 4.5px solid #b1a296; padding: 48px;
    margin: -3px;

    height: 680px;
    
}
.projectbutton {
    display: inline-block;
    text-decoration: none;
    color: #b1a296;
    border: 4.5px solid #b1a296;
    padding: 12px 12px 12px 12px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 150px;
    margin: 30px;
    box-shadow: 8px 8px #0a0a0a;
}

.stack {

    color: #b1a296;
    font-size: medium;
}
/* About Sektion */

#about {
    background: #557a95;
    border-top: 4.5px solid #b1a296;
    display: grid;
}

.abouttext {
    background-color: #b1a296;
    margin-left: 0px;
    border: #557a95 4.5px solid;
    padding: 48px;
    margin: 48.2px;
    color: #0a0a0a;
    font-size: 25px;
    margin-top: 20PX;
    box-shadow: 8px 8px #0a0a0a;
}
.aboutp {
        background-color: #5d5c61;
        border-top: #b1a296 4.5px solid;
        border-bottom: #557a95 solid 4.5px;
    }
    
/* Contact */

#contact {
    background-color: #b1a296;
    height: 1100px;

    
}
#contact h2 {
    text-align: left;
    font-size: 120px;
    color: #557a95;
    padding: 100px;

}
.contactbutton {
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
    
    

}
.githubbutton {
    display: inline-block;
    text-decoration: none;
    color: #0a0a0a;
    border: 4.5px solid #557a95;
    padding: 12px 34px;
    font-size: 55px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 150px;
    margin: 30px;

    box-shadow: 8px 8px #0a0a0a;
}
.linkedinbutton {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 4.5px solid #557a95;
    padding: 12px 60px 12px 34px;
    font-size: 55px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 170px;
    margin: 30px;

    box-shadow: 8px 8px #0a0a0a;
   

}
.linkedinbutton:hover, .projectbutton:hover, .githubbutton:hover {
    border: 0px solid #557a95;
    background: #557a95;
    transition: 0.5s;
}




.contactparagraph {
    display: grid;
    color: #0a0a0a;
    font-size: 40px;
    text-align: center;
    border: #557a95 4.5px solid;
    width: 400px;
    text-align: center;
    padding: 100px;
    box-shadow: 8px 8px #0a0a0a;
    margin-left: auto;
    margin-right: auto;
}
/* Inpiration */

#inspiration {
    background-color: #5d5c61;
    border-top: #557a95 4.5px solid;



    
}
video {
  
    width: 100%;
    opacity: 0.2;
    height: 101%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Footer */

.footer {
    background-color: #b1a296;
    height: 300px;
    font-size: 50px;
    color: #557a95;
    border-top: #557a95 4.5px solid;
    text-align: center;
}

.footer p {
    margin-top: 60px;
}

/* Blog */

.blogtitel {
    color: #b1a296;
    text-align: center;
    margin-top: 100px;
    background-color: #557a95;
    height: 278px;
    border-top: 4.5px solid #b1a296;
    border-bottom: 4.5px solid #b1a296;
    
}
.blogp {
    font-weight: 100;
    color: #b1a296;
    font-size: 26px;
    margin: 100px;

}

.blogs {
    border: #557a95 solid;
    border-width: 4.5px 4.5pxpx;
    height: 100%;
    background-color: #b1a296;
    margin-top: 200px;
    
    
}
.blogs h1 {
    text-align: left;
    color: #5d5c61;
    margin-top: 50px;
    font-style: italic;
    margin-left: 20px;
    font-size: 40px;
    margin: 50px;

}
.articleblog {
    padding: 10px;
    font-size: 26px;
    margin: 50px;
    background-color: #b1a296;
    border: #557a95 solid;
    border-width: 4.5px 4.5px;
    padding: 20px;

}
.articleblog ul{
    padding: 20px;
}
.originalarticlebutton {
    display: inline-block;
    text-decoration: none;
    color: #0a0a0a;
    border: 4.5px solid #557a95;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 100px;
    margin: 30px;
    transform: rotate(-10deg);
    box-shadow: 8px 8px #0a0a0a;
}
.originalarticlebutton:hover {

        border: 0px solid #557a95;
        background: #557a95;
        transition: 0.5s;
    
    }

    /* Launch Page */


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 15px;
        height: 100vh;
        background: #5d5c61;

    } 
    .time-content{
        height: 100vh;
;
    }
    .container p {
        font-size: 40px;

    }
    .container.time-content{
        display: flex;
        margin-top: 40px;
    }
   .container .time-content {
    display: flex;
    column-gap: 30px;
    align-items: center;
    font-size: 60px;
   }
    .time-content .time{
    display: flex;
    align-items: center;
    flex-direction: column; 
   }
   .time .number {
    font-size: 60px;
   }


@media(max-width: 660px){
    body, html {
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
    }
    .hblue {
        font-size: 30px;
        
    }
   
    /* Navigation */

    .nav-links{
        position: fixed;
        background-color: #b1a296;
        height: 130vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    nav .fa-bars {
        display: block;
        color: #557a95;
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .fa-times {
        display: block;
        color: #557a95;
        margin: 0px;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 160px;
    }
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 10px 14px;
        margin: 20px;
        position: relative;
        margin: 25px 45px;
        }
        .nav-links ul li a{
        font-size: 30px;

        }

    /* Home Welocome Text */
    .text-box {
        width: 90%;
        color: white;
        position: sticky;
        top: 160px;
        text-align: center;
    }

    .text-box p {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
 
    }
    /* Button */
    .btn {
        font-size: 13px;
        margin-top: 140px;
        background: transparent;
        position: relative;
        cursor: pointer;
   
    }
    .btn:active{
        border: 1px solid #557a95;
        background: #557a95;
        transition: 0.5s;
        
    }
    /* .welcomemain */
    .welcomemain {
        display: block;

        
    }
    .pblue, .pred {
        font-size: 10px;
        margin-top: 135px;
        width: 200px;
        font-size: 13px;

    }

    /* portfolio */

    #portfolio {
        background-color: #557a95;
        height: 100px;
    }
    
    h2 {
        text-align: center;
        font-size: 30px;
        color: #b1a296;
        padding: 30px;
    }

    .main {
        display: block;
        box-sizing: border-box;
    }
    .projects {
    
        width: 100%;
    }
    .project-card {
        height: 700px;
        border-top: #b1a296 solid 4.5px;
    }
    .projectbutton {
        width: 170px;
    }

    /*About*/
   
    #about, .container {
        background-color: #557a95 ;
        border-top: 4.5px solid #b1a296;
        height: 100px;
    
    
    }

    .aboutp {
        background-color: #5d5c61;
        border-top: #b1a296 4.5px solid;
        border-bottom: #557a95 solid 4.5px;
    }
    
    .abouttext {
        background-color: #b1a296;
        border: #557a95 4.5px solid;
        padding: 28px;
        color: #0a0a0a;
        font-size: 15px;
        margin: 20px;

    
        
    }
    
    /* Contact */
    #contact {
        height: 800px;
        border-top: #557a95;
    }
    #contact h2{
        text-align: center;
        font-size: 30px;
        color: #557a95;
        padding: 30px;

    }
    .contactparagraph {
        font-size: 15px;
        width: 100px;
        font-style: italic;
        text-align: start;
        padding: 110px;
    }
    .githubbutton, .linkedinbutton {
        font-size: 20px;
        margin: 20px;
        width: 20%;
    }
    .contactbutton {
        display: block;  
        width: 60%;

    }
    .linkedinbutton:active{
        border: 0px solid #557a95;
        background: #557a95;
        transition: 0.5s;
    }
    .githubbutton:active{
        border: 0px solid #557a95;
        background: #557a95;
        transition: 0.5s;
    }

    /* Inspiration */
    video {
        opacity: 0.4;
        height: 100%;
        
    }
    #ispiration {
        background: #b1a296;
    }

    #inspiration h4 {
        text-align: center;
        font-size: 30px;
        color: #557a95;
        padding: 30px;
        white-space: nowrap;
        overflow: hidden;

    }
    .pix {
        width: 15vw;
        height: 75vh;
        background-position: center;
        background-size: 75vh;
        margin: 1vw;
        border-radius: 3vw;
        display: inline-block;
        cursor: pointer;
    }

    /* Footer */
    .footer {
        height: 200px;
    }
    .footer p {
        font-size: 20px;

    }

    /* Blog */

    .blogtitel {
        background-color: #557a95;
        height: 100px;
        margin-top: 0px;
        border-top: 0px;
    }
    .blogp {
        color: #b1a296;
        padding: 5px;
        margin: 20px;
        font-size: 15px;
    }
    .blogs {
        margin-top: 40px;
        max-height: 100%;
    }
    .articleblog { 
        border:#557a95 4.5px solid;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
       
        
    }
    .originalarticlebutton {
        font-size: 12px;
        color: #0a0a0a;
    }
    
    .container p {
            font-size: 24px;
            margin-top: 300px;
        }
        
        .container .time-content {
            font-size: 36px;
            column-gap: 15px;
        }
        
        .time-content .time {
            flex-direction: column; 
        }
        
        .time .number {
            font-size: 40px;
            margin-top: 200px;
        }
}
