*{
    padding: 0;
    margin: 0;

}
body {
    font-family: 'Oswald', sans-serif;
}

/* Header */

.header {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(93,92,97,0.95),rgba(93,92,97,0.99)),url(Bilder/Blaise.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: #b1a296 4.5px solid;
    
   
}

/* Home: Navigation */

nav {
    display: block;
    padding: 4% 10%;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    border-bottom: 4.5px solid #b1a296;
    height: 70px; 


}
.nav-links {
    
    text-align: right;
    position: relative;
    right: 10px; 
   
   
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    margin: 10px;
    position: relative;


}
.nav-links ul li a{
    color: #557a95;
    text-decoration: none;
    font-size: 60px;
    font-weight: 500;
   
}
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 4.5px;
    background: #b1a296;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* Home Text */

.text-box {
    width: 90%;
    color: white;
    position: sticky;
    top: 500px;
    text-align: center;
}
/* Home: Welcome Title */

#welcome {
    color: #b1a296;
    
}
.welcomemain {
    display: flex;
    justify-content: space-between;

}


.hblue {
    font-weight: 900;
    font-size: 80px;
    color: #557a95;
}
.pblue {
    font-weight: 100;
    color: #b1a296;
    font-size: 30px;
    width: 500px;
    margin: 50px;
    margin-top: 600px;

}
.pred {
    font-weight: 100;
    color: #b1a296;
    font-size: 30px;
    width: 500px;
    margin: 50px;
    margin-top: 600px;
 

}
.btn {
    display: inline-block;
    text-decoration: none;
    color: #b1a296;
    border: 4.5px solid #b1a296;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.btn:hover{
    border: 1px solid #557a95;
    background: #557a95;
    transition: 0.5s;
    
}

nav .fa-bars {
    display: none;
}

nav .fa-times {
    display: none;
}
/* Portfolio */

#portfolio {
    background-color: #557a95;
    height: 278px;
}

h2 {
    text-align: left;
    font-size: 120px;
    color: #b1a296;
    padding: 100px;

}
.project-card {
    padding:  3rem;
    border: .3em solid #0a0a0a;
    margin: -3px;

}
.project-card img {
    display: grid;
    grid-template-columns:max-content;
    max-width: 50vh;
}

.projects {
    margin-bottom: -1em;
    box-shadow: 8px 8px #0a0a0a;
    border: .3em solid #0a0a0a;
    height: 20.5rem;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    display: block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}
.projectinfo {
    height: 200px;
    margin-top: 40px;
    color: #b1a296;
    width: 300px;

}


/* Home: main section  */

.main {
    background-color:#5d5c61;
    border-top: 4.5px solid #b1a296;
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}

.project-card {
    box-sizing: border-box;
    display: block;
    float: none;
    height: normal;
    position: static;
    z-index: auto;
    z-index: auto;
    border: 4.5px solid #b1a296; padding: 48px;
    margin: -3px;

    height: 680px;
    
}
.projectbutton {
    display: inline-block;
    text-decoration: none;
    color: #b1a296;
    border: 4.5px solid #b1a296;
    padding: 12px 12px 12px 12px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 150px;
    margin: 30px;
    box-shadow: 8px 8px #0a0a0a;
}

.stack {

    color: #b1a296;
    font-size: medium;
}
/* About Sektion */

#about {
    background: #557a95;
    border-top: 4.5px solid #b1a296;
    display: grid;
}

.abouttext {
    background-color: #b1a296;
    margin-left: 0px;
    border: #557a95 4.5px solid;
    padding: 48px;
    margin: 48.2px;
    color: #0a0a0a;
    font-size: 25px;
    margin-top: 20PX;
    box-shadow: 8px 8px #0a0a0a;
}
.aboutp {
        background-color: #5d5c61;
        border-top: #b1a296 4.5px solid;
        border-bottom: #557a95 solid 4.5px;
    }
    
/* Contact */

#contact {
    background-color: #b1a296;
    height: 1100px;

    
}
#contact h2 {
    text-align: left;
    font-size: 120px;
    color: #557a95;
    padding: 100px;

}
.contactbutton {
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
    
    

}
.githubbutton {
    display: inline-block;
    text-decoration: none;
    color: #0a0a0a;
    border: 4.5px solid #557a95;
    padding: 12px 34px;
    font-size: 45px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 30%;
    max-width: 185px;
    margin: 30px;
    box-shadow: 8px 8px #0a0a0a;
}
.linkedinbutton {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 4.5px solid #557a95;
    padding: 12px 60px 12px 34px;
    font-size: 45px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 30%;
    max-width: 185px;
    margin: 30px;
    box-shadow: 8px 8px #0a0a0a;
   

}
.linkedinbutton:hover, .projectbutton:hover, .githubbutton:hover {
    border: 0px solid #557a95;
    background: #557a95;
    transition: 0.5s;
}

/* Contact Form */
.contactformtitle {
    color: #0a0a0a;
    text-align: center;
    margin: 15px;
}
.contactformpic img{
    border: #0a0a0a 4.5px solid;
}


#contactform {
    display: block;
    height: 400px;

}
.field-style{
    background-color: #ddd1c7;
}
.form-style-9{
    border: #557a95 4.5px solid;
	max-width: 80%;
	background: #b1a296;
	padding: 30px;
	margin: 50px auto;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 4.5px solid #557a95;
    transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #0a0a0a;
	border:4.5px solid #5d5c61;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	display: inline-block;
    color: #0a0a0a;
    border: 4.5px solid #557a95;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 30%;
    max-width: 185px;
    margin: 30px;
    box-shadow: 8px 8px #0a0a0a;

}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {

	background-color:#557a95;
}

/* Inpiration */

#inspiration {
    background-color: #5d5c61;
    border-top: #557a95 4.5px solid;



    
}
video {
  
    width: 100%;
    opacity: 0.2;
    height: 101%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Footer */

.footer {
    background-color: #b1a296;
    height: 300px;
    font-size: 30px;
    color: #557a95;
    border-top: #557a95 4.5px solid;
    text-align: center;
}

.footer p {
    margin-top: 60px;
}

/* Blog */

.blogtitel {
    color: #b1a296;
    text-align: center;
    margin-top: 100px;
    background-color: #557a95;
    height: 278px;
    border-top: 4.5px solid #b1a296;
    border-bottom: 4.5px solid #b1a296;
    
}
.blogp {
    font-weight: 100;
    color: #b1a296;
    font-size: 26px;
    margin: 100px;

}

.blogs {
    border: #557a95 solid;
    border-width: 4.5px 4.5pxpx;
    height: 100%;
    background-color: #b1a296;
    margin-top: 200px;
    
    
}
.blogs h1 {
    text-align: left;
    color: #5d5c61;
    margin-top: 50px;
    font-style: italic;
    margin-left: 20px;
    font-size: 40px;
    margin: 50px;

}
/* Blog Creativity Page */
.blog-button {
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #0a0a0a;
    border: 4.5px solid #557a95;
    padding: 12px 34px;
    font-size: 35px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 30%;
    max-width: 285px;
    margin: 30px;
    box-shadow: 8px 8px #0a0a0a;
}

.articleblog {
    padding: 10px;
    font-size: 26px;
    margin: 50px;
    background-color: #b1a296;
    border: #557a95 solid;
    border-width: 4.5px 4.5px;
    padding: 20px;

}
.articleblog ul{
    padding: 20px;
}
.originalarticlebutton {
    display: inline-block;
    text-decoration: none;
    color: #0a0a0a;
    border: 4.5px solid #557a95;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 100px;
    margin: 30px;
    transform: rotate(-10deg);
    box-shadow: 8px 8px #0a0a0a;
}
.originalarticlebutton:hover {

        border: 0px solid #557a95;
        background: #557a95;
        transition: 0.5s;
    
    }

    /* Launch Page */


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 15px;
        height: 200px;
        background: #5d5c61;

    } 
    .launchtimepad {
    color: #b1a296;
    text-align: center;
    margin-top: 100px;
    height: 278px;   
    }
    .launchp {
    font-size: 40px;
    }
    .time-content{
        height: 100vh;
;
    }
    .container p {
        font-size: 40px;
        top: 200px;

    }
    .container .time-content{
        display: flex;
        margin-top: 40px;
    }
   .container .time-content {
    display: flex;
    column-gap: 30px;
    align-items: center;
    font-size: 60px;
   }
    .time-content .time{
    display: flex;
    align-items: center;
    flex-direction: column; 
   }
   .time .number {
    font-size: 60px;
   }

   /* Mailsucces Page */
   .mailsucces{
    background: #5d5c61;
    height: 100vh;
    align-items: center;
   }
   .mailsuccesitem{
   width: 50%;
   margin-left: auto;
   margin-right: auto;

   }


@media(max-width: 660px){
    body, html {
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
    }
    .hblue {
        font-size: 30px;
        
    }
   
    /* Navigation */

    .nav-links{
        position: fixed;
        background-color: #b1a296;
        height: 130vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    nav .fa-bars {
        display: block;
        color: white;
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
        position: fixed;
        mix-blend-mode: difference;
        top: 20px;
        right: 20px;
    }
    nav .fa-times {
        display: block;
        color: #557a95;
        margin: 0px;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 160px;
    }
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 10px 14px;
        margin: 20px;
        position: relative;
        margin: 25px 45px;
        }
        .nav-links ul li a{
        font-size: 30px;

        }

    /* Home Welocome Text */
    .text-box {
        width: 90%;
        color: white;
        position: sticky;
        top: 160px;
        text-align: center;
    }

    .text-box p {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
 
    }
    /* Button */
    .btn {
        font-size: 13px;
        margin-top: 140px;
        background: transparent;
        position: relative;
        cursor: pointer;
   
    }
    .btn:active{
        border: 1px solid #557a95;
        background: #557a95;
        transition: 0.5s;
        
    }
    /* .welcomemain */
    .welcomemain {
        display: block;

        
    }
    .pblue, .pred {
        font-size: 10px;
        margin-top: 135px;
        width: 200px;
        font-size: 13px;

    }

    /* portfolio */

    #portfolio {
        background-color: #557a95;
        height: 100px;
    }
    
    h2 {
        text-align: center;
        font-size: 30px;
        color: #b1a296;
        padding: 30px;
    }

    .main {
        display: block;
        box-sizing: border-box;
    }
    .projects {
    
        width: 100%;
    }
    .project-card {
        height: 700px;
        border-top: #b1a296 solid 4.5px;
    }
    .projectbutton {
        width: 170px;
    }

    /*About*/
   
    #about, .container {
        background-color: #557a95 ;
        border-top: 4.5px solid #b1a296;
        height: 100px;
    
    
    }

    .aboutp {
        background-color: #5d5c61;
        border-top: #b1a296 4.5px solid;
        border-bottom: #557a95 solid 4.5px;
    }
    
    .abouttext {
        background-color: #b1a296;
        border: #557a95 4.5px solid;
        padding: 28px;
        color: #0a0a0a;
        font-size: 15px;
        margin: 20px;

    
        
    }
    
    /* Contact */
    #contact {
        height: 800px;
        border-top: #557a95;
    }
    #contact h2{
        text-align: center;
        font-size: 30px;
        color: #557a95;
        padding: 30px;

    }
    .contactparagraph {
        font-size: 15px;
        width: 100px;
        font-style: italic;
        text-align: start;
        padding: 110px;
    }
    .githubbutton, .linkedinbutton {
        display: inline-block;
        font-size: 15px;
        margin: 10px;
        margin-right: 10px;
        margin-left: 10px;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
    .contactbutton {
        display: flex;  
        justify-content: center;
    }
    .linkedinbutton:active{
        border: 0px solid #557a95;
        background: #557a95;
        transition: 0.5s;
    }
    .githubbutton:active{
        border: 0px solid #557a95;
        background: #557a95;
        transition: 0.5s;
    }

    /* Inspiration */
    video {
        opacity: 0.5;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;


        
    }
    #ispiration {
        background: #b1a296;
    }

    #inspiration h4 {
        text-align: center;
        font-size: 30px;
        color: #557a95;
        padding: 30px;
        white-space: nowrap;
        overflow: hidden;

    }
    .pix {
        width: 15vw;
        height: 75vh;
        background-position: center;
        background-size: 75vh;
        margin: 1vw;
        border-radius: 3vw;
        display: inline-block;
        cursor: pointer;
    }

    /* Footer */
    .footer {
        height: 200px;
    }
    .footer p {
        font-size: 20px;

    }

    /* Blog */

    .blogtitel {
        background-color: #557a95;
        height: 100px;
        margin-top: 0px;
        border-top: 0px;
    }
    .blogp {
        color: #b1a296;
        padding: 5px;
        margin: 20px;
        font-size: 15px;
    }
    .blogs {
        margin-top: 40px;
        max-height: 100%;
    }
    .articleblog { 
        border:#557a95 4.5px solid;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
       
        
    }
    .originalarticlebutton {
        font-size: 12px;
        color: #0a0a0a;
    }

    /* Launch */

    .launchp {
        font-size: 30px;
        margin-top: 30px;
    }

    .launchtimepad {
    color: #b1a296;
    text-align: center;
    font-size: 10px; 
    }

    .container {
        background-color: #5d5c61;
        border: #5d5c61 solid 4.5px;
    }
    
    .container p {
        font-size: 20px;
        margin-top: 300px;
        row-gap: 5px;
        border-bottom: #b1a296 solid 4.5px;

     }
        
    .container .time-content {
        font-size: 18px;
        column-gap: 10px;
    }
        
    .time-content .time {
        flex-direction: column;

    }
        
    .time .number {
        font-size: 30px;
        margin-top: 200px;
        width: 90%;
    }
    /* Mailsucces */
    .mailsuccesitem
    {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
}
